<template>
  <section>
    <base-card>
      <h2>How was you learning experience?</h2>
      <form @submit.prevent="submitSurvey">
        <div class="form-control">
          <label for="name">Your Name</label>
          <input type="text" id="name" name="name" v-model.trim="enteredName" />
        </div>
        <h3>My learning experience was ...</h3>
        <div class="form-control">
          <input
            type="radio"
            id="rating-poor"
            value="poor"
            name="rating"
            v-model="chosenRating"
          />
          <label for="rating-poor">Poor</label>
        </div>
        <div class="form-control">
          <input
            type="radio"
            id="rating-average"
            value="average"
            name="rating"
            v-model="chosenRating"
          />
          <label for="rating-average">Average</label>
        </div>
        <div class="form-control">
          <input
            type="radio"
            id="rating-great"
            value="great"
            name="rating"
            v-model="chosenRating"
          />
          <label for="rating-great">Great</label>
        </div>
        <p v-if="invalidInput">
          One or more input fields are invalid. Please check your provided data.
        </p>
        <div>
          <base-button>Submit</base-button>
        </div>
        <div class="success" v-if="success">
          <p>Experience submitted successfully.</p>
          <p></p>
        </div>

        <p v-if="error">{{ error }}</p>
      </form>
    </base-card>
  </section>
</template>

<script>
export default {
  data() {
    return {
      enteredName: '',
      chosenRating: null,
      invalidInput: false,
      error: null,
      success: false
    };
  },
  watch: {
    success() {
      setTimeout(() => {
        this.success = false;
      }, 3000);
    }
  },
  /* emits: ['survey-submit'], */
  methods: {
    submitSurvey() {
      if (this.enteredName === '' || !this.chosenRating) {
        this.invalidInput = true;
        return;
      }
      this.invalidInput = false;

      /* this.$emit('survey-submit', {
        userName: this.enteredName,
        rating: this.chosenRating,
      }); */
      this.error = null;
      fetch(
        'https://vue-http-requests-demo-default-rtdb.firebaseio.com/surveys.json',
        {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            name: this.enteredName,
            rating: this.chosenRating
          })
        }
      )
        .then(response => {
          if (response.ok) {
            this.success = true;
          } else {
            throw new Error('Could not save data!');
          }
        })
        .catch(error => {
          console.log(error);
          this.error = error.message;
        });

      this.enteredName = '';
      this.chosenRating = null;
    }
  }
};
</script>

<style scoped>
.form-control {
  margin: 0.5rem 0;
}

input[type='text'] {
  display: block;
  width: 20rem;
  margin-top: 0.5rem;
}
.success {
  border: 1px solid green;
  color: green;
  margin: 20px;
  margin-bottom: 5px;
  text-align: center;
}
</style>
